header {
    background-color: gray;
}

main{
    background-color: lightblue;
}
p{
    color: white;
}
img{
    width: 260px;
}
.text1{
    font-size: 20px;
    color: red;
    text-transform: lowercase;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
.text2{
    color: blue;
}
.text3{
    background-color: blue;
    color: red;
}
.facebook {
    background-color: aqua;
}

.instagram{
    background-color: black;
}

a:hover{
    background-color: aqua;
}

footer {
    background-color: bisque;
}