*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 150px;
    background-color: rgb(160, 120, 200);

}
.contact-title {
    width: 100%;
    height: 150px;
    color: black;
    font-size: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact-anchor {
    width: 200px;
    flex-grow: 1;
    height: 50px;
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
}

.contact-anchor:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

section {
    min-height: calc(100vh - 50px - 150px - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    margin: 20px 0;
}

.contact-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset, select {
    width: 360px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 2px 4px;
}

.contact-input {
    width: 180px;
}

.contact-label {
    flex-grow: 1;
    padding: 5px;
}

.contact-button {
    width: 360px;
    height: 28px;
    display: flex;    
    justify-content: center;
    align-items: center;
}

footer {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 120, 200);
}

@media (max-width: 750px) {
    header {
        height: 60px;
    }
    .contact-title {
        height: 60px;
        font-size: 55px;
    }
    nav {
        height: 20px;
        top: 40px;
    }
    .contact-anchor {
        width: 50px;
        flex-grow: 1;
        height: 20px;
        font-size: 12px;
    }
}