*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 150px;
    background-color: rgb(160, 120, 200);

}
.contact-title {
    width: 100%;
    height: 150px;
    color: black;
    font-size: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact-anchor {
    width: 200px;
    flex-grow: 1;
    height: 50px;
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
}

.contact-anchor:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    min-height: calc(100vh - 50px - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 120, 200);
}